<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.Arrow" version="11.0.0" targetFramework="net48" />
  <package id="IronCompress" version="1.5.1" targetFramework="net48" />
  <package id="LightGBM" version="2.3.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Data.Analysis" version="0.21.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.DataView" version="3.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Parquet.Net" version="4.23.5" targetFramework="net48" />
  <package id="ReaLTaiizor" version="3.8.0.5" targetFramework="net48" />
  <package id="Resource.Embedder" version="2.2.0" targetFramework="net48" />
  <package id="Snappier" version="1.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="4.5.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Channels" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.7.2" targetFramework="net48" />
</packages>